body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(74,190,130,0.8071603641456583) 5%, rgba(0,212,255,1) 100%);
}
.Contenedor div{
  width: auto;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  
}
.Contenedor{
  display: flex;
  padding: 20px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.imagenJuan img{
  height: 300px;
  border-radius: 150px;
}
/* Estilo para la clase que contiene la barra de navegación */
.BarraNavegacion {
  display: flex; /* Convierte el contenedor en un contenedor flexible */
  justify-content: center; /* Centra los elementos hijos horizontalmente */
}

/* Estilo para la lista no ordenada (ul) dentro de la barra de navegación */
nav ul {
  list-style: none; /* Elimina los estilos de lista predeterminados */
  padding: 0; /* Elimina el espacio de relleno predeterminado de la lista */
  display: flex; /* Convierte la lista en un contenedor flexible */
}

/* Estilo para los elementos de lista (li) dentro de la barra de navegación */
nav li {
  margin: 0 10px; /* Agrega un espacio entre los elementos de la lista */
}

/* Estilo para los enlaces (a) dentro de la lista de navegación */
nav a {
  text-decoration: none; /* Elimina la decoración de subrayado de los enlaces */
  color: #333; /* Color del texto */
  padding: 10px; /* Añade un espacio alrededor del texto del enlace */
  border-radius: 5px; /* Agrega esquinas redondeadas */
  
}


